body {
  font-family: 'Nunito', sans-serif;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  list-style: none;
  margin: auto;
  float: left;
  width: 33%;
  display: inline-block;
<<<<<<< HEAD
} 

.sub_index_title {
  margin: 15px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 200%;
}

.blog_sections {
  margin: 20px;
}
=======
} 
>>>>>>> 2e67998720e3e525ed8a49baafe1db5e979daf8e
