body {
  font-family: 'Nunito', sans-serif;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  list-style: none;
  margin: auto;
  float: left;
  width: 33%;
  display: inline-block;
} 