html{
  background-color: #f0ead6;
}
body {
  font-family: 'Nunito', sans-serif;
}

* {
  box-sizing: border-box;
  color: black;
}

/* Index */

.logo {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2p;
}

.logo > img {
  max-width: 20%;
  max-height: 20%;
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 50%;
}

ul {
  padding: 0;
  margin-top: 0px;
  border-right: 1px solid #b2beb5;
  border-left: 1px solid #b2beb5;
}

nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}

ul>li {
  list-style: none;
  float: left;
  width: 33.33%;
  display: inline-block;
  text-decoration: none;
}

li div {
  padding: 4% 0;
  background-color: #f0ead6;
  border-right: 1px solid #b2beb5;
  border-left: 1px solid #b2beb5;
}

a:hover div{
  background-color: #979797;
}

ul a {
  color: white;
  text-decoration: none;
}

#content {
  padding-top: 5%;
  display: block;
}

#content > p {
  display: block;
  padding-right: 30%;
  padding-left: 30%;
}
/* Resume */

.col-lg-6 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.row {
  text-align: center;
}

/* Blog */

.sub_index_title {
  margin: 15px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 200%;
}

.blog_sections {
  margin: 20px;
}