/*  Element Class Selector  */
p {
  color: blue;
}

/*  class selector  */
.outline {
  color: maroon;
}

/* id selector */
#tables {
  color: green;
}

/* grouped selectors */
p, .outline{
  opacity: 0.8;
}

/* AND function (all p tags with the id my_id have orange background) */
p#my_id {
  background: orange;
}

/* child selector (all li that are the direct child of a ul are affected) */
ul > li {
  background: lightgreen;
}

/* general descendant */
body h4 {
  color: grey;
}

/* pesudo class selectors  */
a:hover {
  text-decoration: none;
  border: 1px solid black;
}
